{% extends 'base.html.twig' %}
{% import 'macro.html.twig' as m %}

{% block page %}{{ title }}{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
<style>
  .flash-notice {
    color:red;
    font-size:16px;
    font-weight:bold;
  }
</style>
<table>
  <tr>
    <th>ID</th>
    <td>{{user.id}}</td>
  </tr>
  <tr>
    <th>Name</th>
    <td>{{user.username}}</td>
  </tr>
  <tr>
    <th>Mail</th>
    <td>{{user.email}}</td>
  </tr>
  <tr>
    <th>Role</th>
    <td>{{user.roles[0]}}</td>
  </tr>
</table>
<ul>
  {% for message in bag.peek('info.mail') %}
  <div class="flash-notice">
    <li>{{ message.name }} mail:{{ message.mail }} message: {{message}}</li>
  </div>
  {% endfor %}
</ul>
<p>{{message}}</p>
{{form_start(form)}}
{{form_widget(form)}}
{{form_end(form)}}
{% include '/hello/table.html.twig' with [data] %}
<a href="/create">⇒ to create new person</a>
{% endblock %}
