<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta lang="ja">
		<title>{{title}}</title>
	</head>
	<body>
		<h1>{{title}}</h1>
		<p>{{message | raw}}</p>
		{{ form_start(form) }}
		<p>間にメッセージOK？</p>
		{{ form_widget(form) }}
		{{ form_end(form) }}
	</body>
</html>