<style>
  .A {
    background: #ddd;
  }
  .B {
    background: #dff;
  }
</style>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Mail</th>
    <th>Age</th>
    <th>messages</th>
  </tr>
  {% set flg = true %}
  {% for item in data %}
    <tr class="{{ flg ? 'A' : 'B' }}">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.mail}}</td>
      <td>{{item.age}}</td>
      <td>
        <ul>
          {% for msg in item.messages %}
            <li>{{msg.content}}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% set flg = not(flg) %}
  {% endfor %}
</table>